/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    width: 400px;
    height: 800px;
    border: 2px solid #FFC107;
    border-radius: 5px;
    text-align: center;
  }
  
  .logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
  }
  
  .logo span {
    color: #FFC107;
  }
  
  .form-container h2 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 5px 0 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .verify-btn {
    width: 100%;
    background-color: #FFD700;
    font-weight: bold;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #0048BA;
    transition: background-color 0.3s;
  }
  
  .verify-btn:hover {
    background-color: #FFC107;
  }
  
  .otp-info {
    font-size: 13px;
    margin: 15px 0;
  }
  
  
  hr {
    border: 0.5px solid #FFD700;
    margin: 20px 0;
  }
  
  
  .have-account {
    margin-top: 15px;
  }
  
  .have-account p {
    font-size: 15px;
    color: black;
  }

  .agreement {
    font-size: 13px;
    margin: 15px 0;
  }